#
# Required dependencies.
#
PLASMA_DIR    = /Users/bosilca/tools/plasma-installer/build/plasma_2.0.0/
LIBBLAS       = -framework veclib
# Include directory
INC        = -I$(PLASMA_DIR)/include -I$(PLASMA_DIR)/src

# Location of the libraries.
LIBDIR     = -L$(PLASMA_DIR)/lib/

# Location and name of the PLASMA library.
LIBCBLAS      = $(PLASMA_DIR)/lib/libcblas.a
LIBCORELAPACK = $(PLASMA_DIR)/lib/libcorelapack.a
LIBCOREBLAS   = $(PLASMA_DIR)/lib/libcoreblas.a
LIBPLASMA     = $(PLASMA_DIR)/lib/libplasma.a

#  All libraries required by the tester.
LIB        = $(LIBDIR) -lplasma -lcoreblas -lcorelapack -lcblas $(LIBBLAS) -lpthread -lm



CC = gcc
CLINKER = gcc
LINKER = /usr/local/bin/gfortran
YACC=yacc -d -y --verbose
LEX=flex # -d
#
# Add -DDPLASMA_EXECUTE in order to integrate DPLASMA as a scheduler for PLASMA.
# Add -D_DEBUG to be verbose
# Add -DDPLASMA_GENERATE_DOT to generate the dot output.
# Add -DDPLASMA_PROFILING to generate a profiling svg output.

#
CFLAGS=-Wall -pedantic -g -I. $(INC) -std=c99 -DADD_ -DDPLASMA_EXECUTE
LDFLAGS=-g

